.container{
    position: relative;
    
}
.containerTotal{
    display: flex;
    justify-content: center;
    position: fixed;
    left: 120px;
}
.total{
    background: #0F172A;
    padding: 5px 10px;
    border-radius: 0 0 15px 15px;
}
.total{
    font-size: larger;
    color: white;
}
.containerForm{
    display: flex;
    justify-content: center;
    
}