.containerTotal{
    display: flex;
    justify-content: center;
}
.total{
    background: #0F172A;
    padding: 5px 10px;
    border-radius: 0 0 15px 15px;
}
.total{
    font-size: larger;
    color: white;
}
.containerForm{
    display: flex;
    justify-content: center;
    border: 1px solid red;
}