.container {
    width: 100%;
    color: aliceblue;
    ;
}

.containerCircle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
    display: flex;
    flex-direction: column
}

.iconSpider {
    position: absolute;
    right: 10em;
    top: -35px;
}

.iconSpider img {
    width: 100px;
    animation: spider 3s infinite;
}

@keyframes spider {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(30px);
    }
}