
.subContainer{
margin: 35px 20px 20px 20px;
border-radius: 15px;
background-color: rgba(240, 236, 236, 0.589);
box-shadow:10px 8px 3px rgba(146, 146, 146, 0.247) ;
margin-bottom: 15px;
padding: 5px;
border: 2px solid rgba(255, 0, 0, 0.247);
}
.containerProduct{
    padding: 10px;
    display: flex;
    flex-direction: row;
    text-align: center;    
}
.containerImg img{
    width: 200px;
    border-radius: 10%;
}
.containerText{
    padding-left: 5%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn{
    background-color: rgba(0, 0, 0, 0.788);
    padding: 8px;
    color: white;
    margin-top: 15px;
    border-radius: 15px;
}

.containerBtns{
    padding: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 40px;
}
.btnCategories{
    cursor: pointer;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid gray;
    width: 55%;
    height: 50px;
    background: rgb(78,6,6);
    background: radial-gradient(circle, rgba(78,6,6,1) 0%, rgba(0,0,0,1) 59%);
    color: white;
}
.btnCategories:hover{
    color: wheat;
    background-color: #292929;
    box-shadow: 7px 5px 5px #5500008c;
}
.containerNav{
    background-color: #000000;
    width: 100%;
    height: 160px;
    border-radius: 0 0 200px 0;
}
.containerBanne{
    width: 50%;
    position: absolute;
    top: -5px;
}


@media only screen and (min-width: 450px){
    .container{
        padding: 0%;
    }
.containerBanne{
    width: 200px;
    top: 15px;
    display: flex;
}	
.subContainer{
    padding: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 30px;
}
.btnCategories{
    border: 1px solid red;
    padding: 0;
    margin: 0;
}
.containerProduct{
    display: flex;
    justify-content: center;
}
.containerImg{
    padding: 15px;
}
.containerText{
    padding-top: 25px;
}
}