.containerNabvar{
  
    background: rgb(78,6,6);
background: radial-gradient(circle, rgba(78,6,6,1) 0%, rgba(0,0,0,1) 59%);
    width: 100%;
    display: flex;
    justify-content: space-around;
    color: white;
    padding: 20px;
}