.container {
 display: flex;
 flex-wrap: wrap;
 align-items: center;
 justify-content: center;
 padding-top: 4rem;
}
.imgCard{
  width: 400px;
	height: 400px;
	object-fit: cover;
}
.btn{
    background-color: #0F172A;
    color: white;
    padding: 5px;
    width: 40%;
    border-radius: 15px;
    animation-name: animationBtn;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.containerBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 15px;
    cursor: pointer;
    border-bottom: 1px solid rgba(128, 128, 128, 0.212);
    padding-bottom: 10px;
   
}

@keyframes animationBtn {
    0% {
        background: #0F172A;
        box-shadow: 0 0 15px #00c72be1;
      }
      50% {
        background: #00c72be1;
        box-shadow: 0 0 15px #0F172A;
       
      }
      100% {
        background: #0F172A;
        box-shadow: 0 0 15px #00c72be1;
        
      }
    }
    
    .boton-animado:hover {
      animation: animacion-boton 0.5s;
    
}

@media only screen and (min-width: 450px){
  .container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .containerCard{
    height: auto;
    margin: 25px;
    padding: 15px;
  }
  .containerBtn{
     height: 532px;
  }

}