.container{
  width: 100%;
  position: relative;
  padding: 3px;
}

.module {
  background: #222;
  color: white;
  padding: 2rem;
}

@media only screen and (min-width: 900px){
    .container{
        display: none;
    }
}